body, html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgb(153,239,255);
background: linear-gradient(145deg, rgba(153,239,255,0.9641106442577031) 9%, rgba(191,202,255,1) 73%);
}

.container-principal {
    display: flex;
    flex-direction: column;
    border: 1px, solid, #000000;
    width: 50%;
    height: 50%;
    padding: 10px;
    box-shadow: 0 0 10px #000;
}

.container-logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.title {
    display: flex;
    justify-content: center;
}

.container-email {
    display: flex;
    flex-direction: column;
}

.container-password {
    display: flex;
    flex-direction: column;
}

input {

}

.container-remember {
    display: flex;
    flex-direction: row;
    
}

.checkbox {
    display: flex;
    flex-direction: row;

}